div.SinriTable table {
	border-collapse: collapse;
	border: 1px solid #EFEFEF;
	margin: 2px;
}
div.SinriTable table tr{
	border-collapse: collapse;
	border: 1px solid #EFEFEF;
	padding: 3px;
	min-height: 20px;
}
div.SinriTable table th{
	border-collapse: collapse;
	border: 1px solid #EFEFEF;
	padding: 3px;
	text-align: center;
	min-width: 40px;
	background-color: lightgreen;
}
div.SinriTable table td{
	border-collapse: collapse;
	border: 1px solid #EFEFEF;
	padding: 3px;
	text-align: center;
	min-width: 40px;
}
input.SinriTableCellInputInactive {
	border: none;
	min-width: 40px;
	width: 100%;
}
input.SinriTableCellInputActive {
	border: 1px solid #EFEFEF;
	min-width: 40px;
	width: 100%;
}